* {
  background-color: #fbf4e1;
}

#root {
  box-sizing: border-box;
  text-align: center;
  color: #4F7942;
  background-color: #fbf4e1;
  font-family: 'Gill Sans'
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
  font-size: xx-large;
}

.Order {
  background-color: #fbf4e1;
  border: 5px solid #4F7942;
  display:absolute;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.menu-boxes {
  border: 1px solid #4F7942;
  width: 40%;
  margin-left: auto;
  margin-right: auto;

}

button {
  background-color: #4F7942;
  color: #fbf4e1;
  width: 200px;
  height: 50px;
}

button:hover {
  background-color: #72a961;
  color: #fff;
  box-shadow: #000;
  cursor: pointer;
}

li {
  list-style-type: none;
}


/* .App-logo { */
  /* height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
